@font-face
  font-family: FontAwesome
  font-style: normal
  font-weight: normal
  src:url(font-icon-path + ".woff2?v=#" + font-icon-version) format("woff")

fa-icon(icon)
  &:before
    content: icon
    font-family: font-icon
    padding-right: 8px
    vertical-align: baseline

/* 
fa-bookmark = "\f054" 
*/
fa-bookmark = "\f101"
fa-list-alt = "\f114"
fa-calendar = "\f073"
fa-tag = "\f097"
fa-paragraph = "\f1dd"
